# Database
DATABASE_URL=postgresql://user:password@localhost:5432/validacion_db

# JWT
SECRET_KEY=tu-secret-key-super-segura-cambiar-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Mailtrap
MAILTRAP_API_TOKEN=065c6d4c0f542d97bcd501104766863a
MAILTRAP_FROM_EMAIL=nohely.reyes@unah.hn
MAILTRAP_FROM_NAME=Sigma

# Application
FRONTEND_URL=http://localhost:5173
VERIFY_TOKEN_EXPIRE_HOURS=24